.card{
background:#030305 ;
height: 250px;
margin: 35px;
position: relative;
width: 225px;
border: #252116 double 10px;
}

.img-container{
    height: 200px;
    width: 200px;
    margin-bottom: 200px;
}

img {
    width: 175px;
    height: 200px;
    margin: 25px;
}
